@font-face {
    font-family: 'DRSEUSS';
    src: url('DRSEUSS.TTF') format('truetype');
}

:root {
    --primary-color: rgb(233, 19, 19);
    --secondary-color: rgb(176, 255, 17);
    --tertiary-color: rgb(255, 255, 255);
    --quaternary-color: rgb(255, 255, 255);
    font-family: 'DRSEUSS';
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0.2vh 0.2vh 0 black;
  }

body { 
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 20vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: left;
    position: relative;
}

#bar{
    position: fixed;
    width: 4%;
    height: 110%;
    background: repeating-linear-gradient(
      45deg,
      var(--primary-color) 0,
      var(--primary-color) 25px,
      var(--tertiary-color) 0,
      var(--tertiary-color) 50px
    );
    left: 0px;
    top: -10vh;
}

button,select{
    border: var(--quaternary-color) 1vh solid;
    font-size: 1em;
    border-radius: 4vh;
    background-color: var(--primary-color);
    font-family: 'DRSEUSS';
    color: var(--quaternary-color);
    text-align: center;
}

#file-input-container{
    color: var(--primary-color);
    text-shadow: 0.2vh 0.2vh 0 white;
    width: 450px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4vh;
    background-color: var(--tertiary-color);
    border-radius: 1vh;
    margin: 0 auto;
}

#result{
    color: var(--tertiary-color);
}

